.team {
  width: 100%;
  min-height: 300px;
}

.team_container {
  width: 70%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

.team-headline {
  max-width: 480px;
  font-size: 32px;
  margin-bottom: 11px;
}

.team-underheadline {
  max-width: 480px;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 12px;
}

.team-line {
  width: 150px;
  height: 1px;
  border: none;
  margin-top: 0;
  margin-bottom: 64px;
}

.team-img {
  margin-bottom: 64px;
}

.team_posts {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.team_post {
  width: 320px;
  min-height: 550px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 50px;
}

.team_post img {
  width: 320px;
  height: 420px;
  margin-bottom: 0;
}

.team_post_blue {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -4px;
}

.team_post_blue-title {
  font-size: 20px;
  max-width: 300px;
}

.team_post_content {
  width: 100%;
  min-height: 20px;
}

.team_post-text{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 90%;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: auto;
}

.team_post-text p {
  font-size: 15px;
}

@media (min-width: 927px) and (max-width: 1315px) {
  .team_container {
    width: 80%;
  }
}

@media (min-width: 320px) and (max-width: 926px) {
  .team_container {
    width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 1135px) {
  .team-img {
    width: 100%;
    max-height: 100%;
  }
}

@media (min-width: 823px) and (max-width: 1026px) {
  .team_post {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (min-width: 712px) and (max-width: 822px) {
  .team_post {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
}

@media (min-width: 712px) and (max-width: 777px) {
  .team_post {
    margin-bottom: 50px;
  }
}

@media (min-width: 320px) and (max-width: 711px) {
  .team_post {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
  }
}

@media (min-width: 320px) and (max-width: 359px) {
  .team_post {
    width: 300px;
    min-height: 530px;
  }
  .team_post img {
    width: 300px;
    height: 400px;
  }
}